*, *::after, *::before {
  font-family: sans-serif;
}

body{
  background-color: #27374D;
}

.navbar {
  z-index: 99;
}

.navbarscroll {
  background-color: #27374dc9;
  backdrop-filter: blur(4px);
  border-bottom: rgba(128, 128, 128, 0.221) solid 1px;
}
/* home */
#home {
  height: 100vh;
}

.h1-home {
  line-height: 2.8rem;
}

.img-home {
  width: 370px;
  height: 370px;
  border: #9DB2BF solid;
  border-width: 4px 5px 4px 12px;
  border-radius: 200px 20px 200px 30px;
}
/* end home */

/* about */
#about {
  background-color: #9DB2BF;
}
/* end about */

/* portfolio */
.portfolio-img{
  box-shadow: rgba(14, 30, 37, 0.038) 0px 2px 4px 0px, rgba(14, 30, 37, 0.137) 0px 2px 16px 0px;
  transition: all 0.5s ease;
}
.portfolio-img:hover{
  transform: scale(0.9);
  transition: all 0.5s ease;
}
/* end portfolio */

/* skills */

#skills {
  background-color: #9DB2BF;
}

.box-skills{
  width: 150px;
  height: 150px;
  box-shadow: rgba(14, 30, 37, 0.038) 0px 2px 4px 0px, rgba(14, 30, 37, 0.137) 0px 2px 16px 0px;
  position: relative;
}

.box-skills:nth-child(1):hover:after{
  content: 'HTML';
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  line-height: 150px;
  color: white;
  background-color: rgba(0, 0, 0, 0.434);
  backdrop-filter: blur(1px);
  border-radius: 0.375rem;
  font-weight: bold;
}
.box-skills:nth-child(2):hover:after{
  content: 'CSS';
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  line-height: 150px;
  color: white;
  background-color: rgba(0, 0, 0, 0.434);
  backdrop-filter: blur(1px);
  border-radius: 0.375rem;
  font-weight: bold;
}
.box-skills:nth-child(3):hover:after{
  content: 'Javascript';
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  line-height: 150px;
  color: white;
  background-color: rgba(0, 0, 0, 0.434);
  backdrop-filter: blur(1px);
  border-radius: 0.375rem;
  font-weight: bold;
}
.box-skills:nth-child(4):hover:after{
  content: 'PHP';
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  line-height: 150px;
  color: white;
  background-color: rgba(0, 0, 0, 0.434);
  backdrop-filter: blur(1px);
  border-radius: 0.375rem;
  font-weight: bold;
}
.box-skills:nth-child(5):hover:after{
  content: 'Laravel';
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  line-height: 150px;
  color: white;
  background-color: rgba(0, 0, 0, 0.434);
  backdrop-filter: blur(1px);
  border-radius: 0.375rem;
  font-weight: bold;
}
.box-skills:nth-child(6):hover:after{
  content: 'Figma';
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  line-height: 150px;
  color: white;
  background-color: rgba(0, 0, 0, 0.434);
  backdrop-filter: blur(1px);
  border-radius: 0.375rem;
  font-weight: bold;
}
.box-skills:nth-child(7):hover:after{
  content: 'Bootstrap';
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  line-height: 150px;
  color: white;
  background-color: rgba(0, 0, 0, 0.434);
  backdrop-filter: blur(1px);
  border-radius: 0.375rem;
  font-weight: bold;
}
.box-skills:nth-child(8):hover:after{
  content: 'Tailwind css';
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  line-height: 150px;
  color: white;
  background-color: rgba(0, 0, 0, 0.434);
  backdrop-filter: blur(1px);
  border-radius: 0.375rem;
  font-weight: bold;
}

.box-skills img{
  width: 100%;
}

#contact {
  height: 100vh;
}

.box-contact {
  box-shadow: rgba(14, 30, 37, 0.038) 0px 2px 4px 0px, rgba(14, 30, 37, 0.137) 0px 2px 16px 0px;
}