*, *::after, *::before {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #1F1D36;
}

.navbar {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #1F1D36;
  z-index: 99;
}

.navbarscroll {
  background-color: #1f1d36ce;
  backdrop-filter: blur(7px);
  border-bottom: 1px solid rgba(128, 128, 128, 0.222);
}

.nav-item::before {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background-color: #712B75;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
}

.nav-link {
  color: white;
}

.nav-item:hover::before{
  transition: all ease-in 0.2s;
  width: 100%;
}

.nav-item:hover .nav-link{
  color: rgb(204, 202, 202);
}

#home {
  height: 90vh;
}

#home h1 {
  line-height: 3.7rem;
}

.img-home {
  max-width: 420px;
  max-height: 420px ;
  border: solid #712B75;
  border-width: 10px 5px 20px 20px;
  border-radius: 10% 50% 10% 50%;
}

#about h3{
  color: #712B75;
}

.text-icon {
  color: white;
}

.text-icon:hover {
  color: #712B75;
  transition: all 0.2s ease-in;
}

#portfolio {
  background-color: #712B75;
}

#portfolio h3 {
  color: #1F1D36;
}

#portfolio .card {
  max-width: 22.5rem;
  background-color: #1F1D36;
}

#portfolio .card:hover {
  transform: scale(0.9);
}

#skills h3 {
  color: #712B75;
}

#skills .card {
  background-color: #712B75;
  position: relative;
}

#skills .card:nth-child(1):hover.card::after {
  content: 'HTML';
  font-size: 20px;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #712b75c6;
  backdrop-filter: blur(2px);
}
#skills .card:nth-child(2):hover.card::after {
  content: 'CSS';
  font-size: 20px;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #712b75c6;
  backdrop-filter: blur(2px);
}
#skills .card:nth-child(3):hover.card::after {
  content: 'Javascript';
  font-size: 20px;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #712b75c6;
  backdrop-filter: blur(2px);
}
#skills .card:nth-child(4):hover.card::after {
  content: 'PHP';
  font-size: 20px;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #712b75c6;
  backdrop-filter: blur(2px);
}
#skills .card:nth-child(5):hover.card::after {
  content: 'Laravel';
  font-size: 20px;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #712b75c6;
  backdrop-filter: blur(2px);
}
#skills .card:nth-child(6):hover.card::after {
  content: 'Bootstrap';
  font-size: 20px;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #712b75c6;
  backdrop-filter: blur(2px);
}
#skills .card:nth-child(7):hover.card::after {
  content: 'Tailwind css';
  font-size: 20px;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #712b75c6;
  backdrop-filter: blur(2px);
}
#skills .card:nth-child(8):hover.card::after {
  content: 'Figma';
  font-size: 20px;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #712b75c6;
  backdrop-filter: blur(2px);
}

#certificate h3 {
  color: #712B75;
}

#certificate .card {
  max-width: 400px;
  background-color: #712B75;
}

#contact {
  background-color: #712B75;
}

#contact h3 {
  color: #1F1D36;
}

#contact .card {
  max-width: 30rem;
  background-color: #1F1D36;
}

@media only screen and (max-width: 480px) {

  #home h1 {
    line-height: 2.7rem;
  }

  .img-home{ 
    max-width: 100%;
    max-height: 340px;
  }
}